.CustomSwiper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  .customSwiperButton {
    display: flex;
    height: 44px;
    padding: 10px 14px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: #EFEFED;
    cursor: pointer;
    &.disabled {
      display: none;
    }
  }
  .swiper-container {
    position: relative;
    overflow: visible; /* Разрешаем overflow для модального окна */
  }

  .swiper {
    overflow-x: hidden;
    overflow-y: visible; /* Это может не работать в некоторых браузерах */
  }

  /* Альтернатива - обертка только для контента */
  .swiper-content-wrapper {
    overflow-x: hidden;
  }

}
.CustomSwiper .swiper-container {
  position: relative;
  overflow: visible; /* Разрешаем overflow для модального окна */
}

.CustomSwiper .swiper {
  overflow-x: hidden;
  overflow-y: visible; /* Это может не работать в некоторых браузерах */
}

/* Альтернатива - обертка только для контента */
.CustomSwiper .swiper-content-wrapper {
  overflow-x: hidden;
}