.CustomSwitcherContainer {
  display: flex;
  height: 64px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  background: #F3F3F3;
  position: relative;
  &.disable {
    pointer-events: none;
    .Switcher {
      border-radius: 160px;
      background: rgba(0, 0, 0, 0.10);
      pointer-events: none;
    }
  }
  .Switcher {
    border-radius: 160px;
    background: #000;
    display: flex;
    height: 44px;
    width: 120px;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    transition: .7s ease;
  }
  .SwitcherItem {
    position: relative;
    z-index: 1;
    display: flex;
    height: 32px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    color: #000;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: .3s ease .25s;
    &.active {
      transition: .3s ease .25s;
      color: #FFFFFF;
    }
  }
}