.AnalyticPageLayoutHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.AnalyticResultsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  .AnalyticResultsContainerHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #000;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .GeneralStatsWidgets {
    display: flex;
    gap: 10px;
    .GeneralStatsWidgetsMarkers {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 236px;
      .GeneralStatsWidgetsMarker {
        height: calc((100% - 10px) / 2);
        display: flex;
        padding: 10px 20px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 20px;
        background: #FFF;
        p {
          color: #1D1D1F;
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .negative {
          border-radius: 4px;
          border: 1px solid var(--Red, #C3002A);
          background: rgba(195, 0, 42, 0.20);
          display: flex;
          padding: 2px 5px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          span {
            color: var(--Red, #C3002A);
            font-family: Mulish;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .positive {
          display: flex;
          padding: 2px 5px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 4px;
          border: 1px solid #00C310;
          background: rgba(0, 195, 16, 0.20);
          span {
            color: #00C310;
            font-family: Mulish;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
      }
    }
    .CategoriesStatsWidgetContainer {
      flex: 1;
      border-radius: 20px;
      background: #FFF;
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
      .CategoriesStatsWidgetContainerTitle {
        color: #000;
        font-family: Mulish;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .CategoriesStatsContainer {
        display: flex;
        gap: 20px;
        width: 100%;
      }
      .StatsContainer {
        display: flex;
        gap: 20px;
        width: 199px;
        flex-direction: column;
        .StatsContainerBlock{
          display: flex;
          padding: 10px 20px;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          gap: 20px;
          flex: 1;
          align-self: stretch;
          border-radius: 20px;
          border: 1px solid var(--border, rgba(0, 0, 0, 0.10));
          p {
            color: #1D1D1F;
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          span {
            color: var(--Black, #1D1D1F);
            font-family: Mulish;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }

      }
      .ChartContainer {
        display: flex;
        gap: 17px;
        align-items: flex-end;
        margin-top: 20px;
        justify-content: center;
        flex: 1;
        .ChartContainerItem {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: flex-end;
          span {
            width: 60px;
            border-radius: 10px;
          }
          p {
            overflow: hidden;
            color: #1D1D1F;
            text-overflow: ellipsis;
            font-family: Mulish;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: -webkit-box;
            width: 60px;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }
  }
  .CategoriesWidgetContainer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
    border-radius: 30px;
    background: #FFF;
    .CategoriesWidgetContainerHead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .SwiperControls {
        display: flex;
        gap: 10px;
        .SwiperControl {
          cursor: pointer;
          display: flex;
          height: 44px;
          width: 44px;
          align-items: center;
          justify-content: center;
          gap: 10px;
          border-radius: 40px;
          background: #EFEFED;
          svg path {
            stroke-opacity: 1;
          }

          &.SwiperControlDisabled {

            svg path {
              stroke-opacity:.3;
            }
          }
        }
      }
    }
    .CategoriesWidgetItem {
      display: flex;
      padding: 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      border-radius: 30px;
      border: 1px solid rgba(0, 0, 0, 0.10);
      background: #FFF;
      min-height: 225px;
      .CategoriesWidgetItemTitle {
        overflow: hidden;
        color: #1D1D1F;
        text-overflow: ellipsis;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        align-self: stretch;
        margin-bottom: auto;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        li {
          display: flex;
          gap: 20px;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          p {
            overflow: hidden;
            color: var(--Black, #1D1D1F);
            text-overflow: ellipsis;
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          .CheckListsText {
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            padding: 2px 5px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &.green {
              border-radius: 4px;
              border: 1px solid #00C310;
              background: rgba(0, 195, 16, 0.20);
              color: #00C310;
            }
            &.yellow {
              color: #F39600;
              border-radius: 4px;
              border: 1px solid #F39600;
              background: rgba(243, 150, 0, 0.20);
            }
            &.red {
              color: var(--Red, #C3002A);
              border-radius: 4px;
              border: 1px solid var(--Red, #C3002A);
              background: rgba(195, 0, 42, 0.20);
            }
          }
          .DictionaryText {
            overflow: hidden;
            color: rgba(0, 0, 0, 0.50);
            text-overflow: ellipsis;
            font-family: Mulish;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            &.positive {
              color: var(--green, #00C310);
            }
            &.negative {
              color: var(--Red, #C3002A);
            }
          }
        }
      }
      .DeleteBtn {
        display: flex;
        height: 32px;
        padding: 10px 7px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        border-radius: 40px;
        background: #EFEFED;
        border: none;
        outline: none;
        cursor: pointer;

        p {
          color: #000;
          font-family: Mulish;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .DeleteIcon {
          border-radius: 30px;
          background: #007AFF;
          display: flex;
          width: 20px;
          height: 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
  .CallsWidgetSwiperContainer {
    display: flex;
    justify-content:flex-end ;
    width: 100%;
  }
  .CallsSwiperItem {
    border-radius: 20px;
    border: 1px solid var(--border, rgba(0, 0, 0, 0.10));
    background: #FFF;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        p {
          color: rgba(0, 0, 0, 0.50);
          font-family: Mulish;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        span {
          overflow: hidden;
          color: var(--Black, #1D1D1F);
          text-overflow: ellipsis;
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
  }
}
.WidgetTitle {
  color: #000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.SwiperContainer {
  max-width: calc(100% - 220px);
  width: 100%;
}
.CheckListsWidgetSwiperContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  .CheckListsWidgetCheckbox {
    width: 100%;
  }
  .CheckListsWidgetAccordeons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    .CheckListsWidgetAccordeon {
      width: 100%;
      .CheckListsWidgetAccordeonHeadRow {
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: flex-start;
        .CheckListsWidgetAccordeonHeadColumn{
          width: 200px;
          display: flex;
          flex-direction: column;
          .CheckListsWidgetAccordeonHead {
            display: flex;
            padding: 20px 0;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              flex: 1 0 0;
              overflow: hidden;
              color: #000;
              text-overflow: ellipsis;
              font-family: Mulish;
              font-size: 16px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
            span {
              display: flex;
              align-items: center;
              justify-content: center;
              svg path {

              }
            }
          }
          .CheckListsWidgetAccordeonHeadList {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 20px;
            p {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              align-self: stretch;
              overflow: hidden;
              color: #6B6B6B;
              text-overflow: ellipsis;
              font-family: Mulish;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px; /* 183.333% */
            }
          }
        }

        .CheckListsWidgetAccordeonHeadRowSwiper {
          width: calc(100% - 220px);

          .CheckListsWidgetAccordeonSlideContainer {
            display: flex;
            flex-direction: column;
            .CheckListsWidgetAccordeonSlide {
              width: 100%;
              display: flex;
              padding: 20px;
              align-items: center;
              justify-content: space-between;
              gap: 20px;
              align-self: stretch;
              border-radius: 30px;
              border: 1px solid var(--border, rgba(0, 0, 0, 0.10));
              background: #FFF;
              p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                color: var(--Black, #1D1D1F);
                text-overflow: ellipsis;
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &.notUseTitle {
                  overflow: hidden;
                  color: rgba(29, 29, 31, 0.50);
                  text-overflow: ellipsis;
                  font-family: Mulish;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  text-align: center;
                  width: 100%;
                }
              }
              .CheckListsWidgetTag {
                display: flex;
                padding: 2px 5px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-family: Mulish;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                &.CheckListsWidgetTagGreen {
                  border-radius: 4px;
                  border: 1px solid #00C310;
                  background: rgba(0, 195, 16, 0.20);
                  color: #00C310;
                }
                &.CheckListsWidgetTagYellow {
                  border-radius: 4px;
                  border: 1px solid #F39600;
                  background: rgba(243, 150, 0, 0.20);
                  color:  #F39600;
                }
                &.CheckListsWidgetTagRed {
                  border-radius: 4px;
                  border: 1px solid var(--Red, #C3002A);
                  background: rgba(195, 0, 42, 0.20);
                  color: #C3002A;
                }
              }
            }
            .AccordeonSlideChecklistsResults {
              display: flex;
              flex-direction: column;
              //gap: 10px;
              //padding: 0 20px;
              padding-top: 20px;
              .AccordeonSlideChecklistsResult {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: flex-end;
                align-items: center;
                padding: 5px 20px;
                &:hover {
                  border-radius: 20px;
                  background: #F3F3F3;

                }
                .count {
                  overflow: hidden;
                  color: var(--Black, #1D1D1F);
                  text-align: right;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  font-family: Mulish;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                .CheckListsWidgetTag {
                  display: flex;
                  padding: 2px 5px;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  font-family: Mulish;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  position: relative;
                  &.CheckListsWidgetTagGreen {
                    border-radius: 4px;
                    border: 1px solid #00C310;
                    background: rgba(0, 195, 16, 0.20);
                    color: #00C310;
                  }
                  &.CheckListsWidgetTagYellow {
                    border-radius: 4px;
                    border: 1px solid #F39600;
                    background: rgba(243, 150, 0, 0.20);
                    color:  #F39600;
                  }
                  &.CheckListsWidgetTagGray {
                    border-radius: 4px;
                    border: 1px solid #C0C0C0;
                    background: rgba(192, 192, 192, 0.20);
                    color: #C0C0C0;
                  }
                }
              }
              .AccordeonSlideMarkerResult {
                width: 100%;
                display: flex;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                padding: 5px 20px;
                &:hover {
                  border-radius: 20px;
                  background: #F3F3F3;
                }
                .AccordeonSlideMarkerResultGreen {
                  display: flex;
                  padding: 4px 8px;
                  align-items: center;
                  gap: 4px;
                  border-radius: 4px;
                  background: #EDFBCC;
                  overflow: hidden;
                  color: #486A12;
                  text-overflow: ellipsis;
                  font-family: Mulish;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  text-transform: uppercase;
                }
                .AccordeonSlideMarkerResultCount {
                  display: flex;
                  height: 20px;
                  padding: 0 2px;
                  justify-content: center;
                  align-items: center;
                  gap: 10px;
                  border-radius: 2px;
                  border: 1px solid #000;
                  background: #EFEFED;
                  color: #000;
                  text-align: center;
                  font-family: Mulish;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
              }
            }
          }

        }

      }

    }
  }

}