.CallSinglePageLayoutHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.CallSinglePageWidgets {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  .CallSinglePageWidgetsColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:first-child {
      width: 685px;
    }
    &:last-child {
      flex: 1;
    }
  }
}
.GeneralCallInfoWidget {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 30px;
  background: #FFF;
  width: 100%;
}
.GeneralCallInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  .GeneralCallInfoColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
}
.GeneralCallInfoWidgetHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Bue, #007AFF);
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }
}
.CallWidgetTitle {
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.GeneralCallInfoColumnItem {
  display: flex;
  flex-direction: column;
  p {
    color: rgba(0, 0, 0, 0.50);
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  span {
    color: #000;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .IconRow {
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
    button {
      border-radius: 2px;
      border: 1px solid #007AFF;
      background: var(--Miscellaneous-Button---Tinted-Fill, rgba(0, 122, 255, 0.15));
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      outline: none;
      cursor: pointer;
    }
  }
}

.CustomerInfo {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 30px;
  background: #FFF;
  width: 100%;
  flex: 1;

  button {
    border-radius: 2px;
    border: 1px solid #007AFF;
    background: var(--Miscellaneous-Button---Tinted-Fill, rgba(0, 122, 255, 0.15));
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    outline: none;
    cursor: pointer;
  }
}

.StagesOfConversationWidget {
  border-radius: 30px;
  background: #FFF;
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.StagesOfConversation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.CustomProgress :where(.css-dev-only-do-not-override-xepvsj).ant-progress.ant-progress-circle .ant-progress-text{
  color: #000;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.SummaryOfCallInformationWidgetContainer {
  display: flex;
  padding: 20px 20px 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: #FFF;
  height: 430px;
  .InformationListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .InformationListContainerRow{
      display: flex;
      align-items: center;
      gap: 10px;
      .InformationListContainerRowTitle {
        color: rgba(0, 0, 0, 0.50);
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 170px;
        flex-shrink: 0;
      }
      .InformationListContainerRowDescrtiption {
        color: #000;
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .InformationListContainerModalWrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        button {
          display: flex;
          width: 20px;
          height: 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 2px;
          border: 1px solid var(--green, #00C310);
          background: var(--light-green, rgba(0, 195, 16, 0.20));
          outline: none;
          cursor: pointer;
        }
        .customerSatisfactionList {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            display: flex;
            align-items: flex-start;
            gap: 30px;
            p {
              width: 200px;
              color: #000;
              font-family: Mulish;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
            span {
              color: var(--green, #00C310);
              font-family: Mulish;
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
            }
          }
        }
      }
    }
    .InformationList {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 300px;
      overflow: auto;
      p {
        color: rgba(0, 0, 0, 0.50);
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 170px;
        flex-shrink: 0;
      }
      span {
        color: #000;
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
  .Tasks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    .TasksContainer {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    p {
      color: rgba(0, 0, 0, 0.50);
      font-family: Mulish;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    button {
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
      background: var(--Miscellaneous-Button---Tinted-Fill, rgba(0, 122, 255, 0.15));
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      outline: none;
      color: var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
      text-align: center;
      font-family: Mulish;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .TasksContainerList {
    display: flex;
    flex-direction: column;
    gap: 6px;
    li {
      p {
        color: #000;
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  }
}

.CallDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .CallDetailsContainerTile {
    color: #000;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .CallDetailsChecklistsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
  }
  .CallDetailsContainerSubTile {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .CallsOptionsCheckListsItem{
    display: flex;
    padding: 14px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    .CallsOptionsCheckListsItemRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
      .CallsOptionsCheckListsItemRowType {
        color: #000;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .CallsOptionsCheckListsItemRowCompleting {
        color: rgba(0, 0, 0, 0.50);
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .CallsOptionsCheckListsItemRowPercentMark {
        border-radius: 4px;
        display: flex;
        padding: 2px 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span{
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

        }
      }
      .CallsOptionsCheckListsItemRowCheckListMark {
        display: flex;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 2px;
        border: 1px solid var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
        background: #EFEFED;
        span {
          color: var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
          text-align: center;
          font-family: Mulish;
          font-size: 10px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
  .CallsOptionsMarkerItem {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 14px;
    gap: 20px;
    flex: 1 0 0;
    align-items: center;
    justify-content: space-between;
    .CallsOptionsMarkerItemContainer {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .CallsOptionsMark {
      display: flex;
      padding: 4px 8px;
      align-items: center;
      gap: 4px;
      border-radius: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: Mulish;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }
    .CallsOptionsMarkCount {
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 2px;
      border: 1px solid var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
      background: #EFEFED;
      color: var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
      text-align: center;
      font-family: Mulish;
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
    }
  }
}
.showTriggered {
  display: flex;
  height: 32px;
  padding: 10px 7px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 40px;
  background: #EFEFED;
  width: 100%;
  outline: none;
  border: none;
  color: #000;
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  .triggeredIcon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #007AFF;
  }
  .noTriggeredIcon {
    border-radius: 30px;
    background: #8C8C8C;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
.CallTranscribationWidgets {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  margin-top: 20px;
  .TextTranscribationWidget {
    display: flex;
    width: 889px;
    padding: 20px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    background: #FFF;
    .TextTranscribationWidgetHead {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        color: #000;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .TextTranscribationWidgetHeadButtons {
        display: flex;
        gap: 20px;
        .copyBtnContainer {
          position: relative;
        }
        .downloadBtnContainer {
          position: relative;
        }
        .copyBtn{
          display: flex;
          width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 30px;
          background: #EFEFED;
          flex-shrink: 0;
          outline: none;
          border: none;
          cursor: pointer;
        }
        .DownloadBtn {
          border-radius: 30px;
          background: var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
          display: flex;
          width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          flex-shrink: 0;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
    }
    .SearchRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
      button {
        display: flex;
        height: 32px;
        padding: 10px 14px 9px 14px;
        align-items: center;
        gap: 10px;
        border-radius: 40px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        color: #000;
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: transparent;
        white-space: nowrap;
        cursor: pointer;
      }
      .SearchRowInput {
        display: flex;
        height: 32px;
        padding: 10px 14px;
        align-items: center;
        gap: 10px;
        border-radius: 40px;
        border: 1px solid rgba(0, 0, 0, 0.10);
        width: 259px;
        outline: none;
        &:focus {
          outline: none;

        }
      }
    }
    .transcribation {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      height: 320px;
      overflow-y: auto;
      .TranscribationOperatorItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 4px;
        .dateRow {
          display: flex;
          gap: 4px;
          align-items: flex-end;
          span {
            color: rgba(0, 0, 0, 0.50);
            font-family: Mulish;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .textRow {
          display: flex;
          padding: 10px 20px;
          justify-content: flex-start;
          align-items: center;
          gap: 5px;
          flex-wrap: wrap;
          border-radius: 31px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          color: #000;
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
          max-width: 552px;
          width: 100%;
          .word {

            mark.highlighted {
              background-color: #ffeb3b;
              padding: 2px 1px;
              border-radius: 2px;
              color: #000;
            }
          }
        }

      }
      .TranscribationCustomerItem {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        width: 100%;
        .dateRow {
          display: flex;
          gap: 4px;
          align-items: flex-end;
          span {
            color: rgba(0, 0, 0, 0.50);
            font-family: Mulish;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        .textRow {
          display: flex;
          padding: 10px 20px;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          border-radius: 31px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          color: #000;
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
          max-width: 552px;
          width: 100%;
        }
      }
    }
  }
  .widgetsBlock {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .RecomendationWidget {
      display: flex;
      padding: 20px 20px 20px 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      border-radius: 30px;
      border: 1px solid rgba(0, 0, 0, 0.10);
      background: #FFF;
      .RecomendationWidgetHead {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        p {
          color: #000;
          font-family: Mulish;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .RecomendationWidgetHeadRecommendation {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .RecommendationRow {
          display: flex;
          gap: 10px;
          align-items: flex-start;
          p {
            color: rgba(0, 0, 0, 0.50);
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 70px;
            flex-shrink: 0;
          }
          span {
            color: #000;
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
    .CommentsWidget {
      display: flex;
      padding: 20px 20px 20px 30px;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      border-radius: 30px;
      border: 1px solid rgba(0, 0, 0, 0.10);
      background: #FFF;
      .CommentsWidgetHead {
        display: flex;
        p {
          color: #000;
          font-family: Mulish;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .CommentsWidgetList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .CommentsWidgetListItem {
          display: flex;
          gap: 10px;
          p {
            color: rgba(0, 0, 0, 0.50);
            font-family: Mulish;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 89px;
            flex-shrink: 0;
          }
          span {
            overflow: hidden;
            color: #000;
            text-overflow: ellipsis;
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            flex: 1 0 0;
          }
        }
      }
      .CommentsWidgetControls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .CommentsWidgetShowMore {
          display: flex;
          gap: 5px;
          align-items: center;
          position: relative;
          .CommentsWidgetShowMoreTitle {
            color: rgba(0, 0, 0, 0.50);
            font-family: Mulish;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .CommentsWidgetShowMoreCount {
            color: var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
            text-align: center;
            font-family: Mulish;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-radius: 2px;
            border: 1px solid var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
            background: var(--Miscellaneous-Button---Tinted-Fill, rgba(0, 122, 255, 0.15));
            display: flex;
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
          }
          .MoreCommentsModal {
            display: flex;
            width: 365px;
            padding: 16px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            border-radius: 20px;
            background: #FFF;
            box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
            height: 182px;
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            ul {
              height: 100%;
              display: flex;
              flex-direction: column;
              gap: 20px;
              overflow: hidden;
              overflow-y: auto;
              li {
                display: flex;
                gap: 10px;
                align-items: flex-start;
                span {
                  color: rgba(0, 0, 0, 0.50);
                  font-family: Mulish;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  width: 89px;
                  flex-shrink: 0;
                  margin-top: 2px;
                }
                p {
                  color: #000;
                  font-family: Mulish;
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                }
              }
            }
          }
        }
        button {
          display: flex;
          width: 20px;
          height: 20px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          aspect-ratio: 1/1;
          border-radius: 30px;
          background: #007AFF;
          cursor: pointer;
          border: none;
          outline: none;
          position: relative;
        }
      }
      .addCommentInputContainer {
        position: relative;
        width: 100%;
        input {
          display: flex;
          height: 32px;
          padding: 10px 8px 10px 14px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          color: #000;
          font-family: Mulish;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          width: 100%;
        }
        button {
          position: absolute;
          top: 50%;
          right: 8px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.AudioPlayerBlock {
  display: flex;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  justify-content: space-between;
  border-radius: 30px;
  background: #FFF;
  margin: 20px 0;
  .AudioPlayerBlockHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      color: #000;
      font-family: Mulish;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .AudioPlayerBlockHeadBtns {
      display: flex;
      gap: 10px;
    }
  }
  .AudioPlayer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    .AudioPlayerRow {
      display: flex;
      gap: 10px;
      align-items: center;
      width: 100%;
      &.hidden {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease;
      }
      &.open {
        max-height: 40px;
        overflow: visible;
        opacity: 1;
        transition: 0.3s ease;
      }
      .AudioPlayerRowControls {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 121px;
        flex-shrink: 0;

        .PlayBtn {
          display: flex;
          width: 32px;
          height: 32px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 100px;
          border: 1px solid #000;
          background: #FFF;
          flex-shrink: 0;
          outline: none;
          cursor: pointer;
        }
      }
      .AudioPlayerRowCustomer {
        color: #000;
        text-align: right;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 121px;
        flex-shrink: 0;
      }
      .AudioPlayerEmpty {
        width: 140px;
        flex-shrink: 0;
      }
      .AudioPlayerDuration {
        color: #000;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 140px;
        flex-shrink: 0;
      }
      .AudioPlayerWave {
        flex-grow: 1;
        width: 100%;
        min-width: 973px;
        .wave-cont {
          min-width: 973px;
          width: 100%;
        }
      }

    }

  }
}

.CheckListModal {
  display: flex;
  width: 287px;
  padding: 12px 20px 20px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //z-index: 9;
  .CheckListModalHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .CheckListModalHeadName {
      display: flex;
      gap: 10px;
      align-items: center;
      p {
        color: #000;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      .CallsOptionsCheckListsItemRowPercentMark {
        border-radius: 4px;
        display: flex;
        padding: 2px 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        span{
          font-family: Mulish;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }
    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  .CheckListModalMarkCount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .CheckListModalMarkCountTitle {
      color: #000;
      font-family: Mulish;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .CheckListModalMarkCountDescription {
      color: #000;
      font-family: Mulish;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      span {
        color: var(--green, #00C310);
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .CheckListModalMarkCountTitle {
        color: #000;
        font-family: Mulish;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .CallsOptionsMark {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Mulish;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
