.CustomTextModal {
  position: absolute;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  max-width: 273px;
  min-width: 208px;
  width: max-content;
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  z-index: 10;
  span {
    color: #000;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}