@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/Mulish-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("/public/fonts/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*transition: .1s ease;*/
}
a {
  text-decoration: none;
}
ul , li {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
}
body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.1s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.ant-tree-switcher {
  transition: none !important;
}

.ant-tree-switcher-icon {
  transition: none !important;
  transform: none !important;
}

.ant-tree-switcher_open .ant-tree-switcher-icon,
.ant-tree-switcher_close .ant-tree-switcher-icon {
  transform: none !important;
}
.ant-tree-treenode {
  width: 100%;
}
.custom-datepicker-container {
  position: relative;
}
:where(.css-dev-only-do-not-override-45y2o1).ant-table-wrapper .ant-table {
  border-radius: 16px !important;
}


.checklist-modal-portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.checklist-modal-content {
  pointer-events: auto;
}
.marker-modal-content {
  pointer-events: auto;
}

.ant-checkbox-label {
  overflow: hidden;
  color: #1D1D1F;
  text-overflow: ellipsis;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.swiper {
    width: 100%;
}
