.BlueCircledIcon {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 1/1;
  border-radius: 30px;
  background: var(--Miscellaneous-Floating-Tab---Text-Selected, #007AFF);
  flex-shrink: 0;
  cursor: pointer;
  outline: none;
  border: none;
}